.et-pb-contact-message {
	text-align: center;
	color: #ec632b !important;
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	font-size: 18px;
}

.et-pb-contact-message ul {
	list-style-position: inside;
}

.et_pb_contact_field_options_title {
	color: #fffef3;
}

.et_pb_contact p input[type=checkbox]+label i, .et_pb_contact p input[type=radio]+label i
{
	background-color: #ec632b;
}