/* Divi builder pagina => 3 dots => Settings => CSS code) */
.et_pb_post_content .et_pb_section .et_pb_row {
	width: 100% !important;
	max-width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}